body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: x-small;
  font-family: verdana, sans-serif;
}

a {
  text-decoration: none;
}

blockquote {
  border-left: 2px solid #c5c1ad;
  padding: 0 8px;
  margin-left: 5px;
}

.commentBox {
  width: 500px;
  height: 100px;
}

.visibleCommentHeader {
  /*margin: 0px 0px 0px 20px;*/
  color: black;
}

.hiddenCommentHeader{
  /*margin: 0px 0px 0px 20px;*/
  color: green;
}

.visibleCommentBody{
  margin: 0px 0px 0px 20px;
  display: block;
}

.hiddenCommentBody {
  margin: 0px 0px 0px 20px;
  display: none;
};

.UserView-title {
  font-size: 24px;
  padding: 0 24px;
}

.UserView-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f0f0f0;
}

.UserItem {
  margin: 0;
  padding: 8px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.UserItem-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.UserItem-email {
  font-size: 14px;
  margin-top: 4px;
  font-style: italic;
  color: #888;
}
.UserItem-description {
  font-size: 14px;
  margin-top: 4px;
}

/*change1*/
.UserForm {
  float: right;
  padding: 8px 24px;
}
.UserForm > input,
.UserForm > textarea {
  display: block;
  width: 240px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
}

.OrderLinks {
  min-width: 1100px;
}

.UserForm > input.UserForm-error {
  border-color: #b30e2f;
}

.Entry {
  display: flex;
  /*justify-content: space-around;*/
  align-items: flex-start;
  margin-bottom: 8px;
  margin-left: 5px;
}

.Ups {
  width: 40px;
  flex-shrink: 0;
}

.Title {
  font-size: medium;
  margin-bottom: 1px;
}

.rank {
  width: 2.2ex;
  margin-top: 15px;
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: right;
}

.vote {
  font-weight: bold;
  font-size: small;
  margin-left: 7px;
  margin-right: 7px;
  width: 5.1ex;
  color: #c6c6c6;
}

.arrow {
  background-position: center center;
  background-repeat: no-repeat; 
  cursor: pointer;
  height: 14px;
  width: 15px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
 }

.arrow.up { 
  background-image: url(http://www.redditstatic.com/sprite-reddit.png);
  background-position: -42px -1443px;
 }

 .arrow.down {
  background-image: url(http://www.redditstatic.com/sprite-reddit.png);
  background-position: 0px -1443px;
 }

.header {
  background-color: #f0f0f0;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  font-size: 90%;
  height: 18px;
  line-height: 18px;
}

.dropdown {
  float: left;
  padding-left: 5px;
  background: none no-repeat scroll center right;
  background-image: url(http://www.redditstatic.com/droparrowgray.gif);
  /*display: inline-block;*/
  vertical-align: bottom;
  padding-right: 21px;
  padding-left: 5px;
  color: black;
  font-weight: normal;
  /*margin-left: -5px;*/
  margin-right: 10px;
  cursor: pointer;
}

.leftlinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
  color: black;
}

.leftlinks a {
  color: black;
}

#front {
  color: orangered;
  font-weight: bold
}

.leftlinks a:hover {
  text-decoration: underline;
}


