body {
    font-size: 16px;
    font-weight: normal;
    font-family: verdanda;
}

a {
    text-decoration: none;
}

blockquote {
  border-left: 2px solid #c5c1ad;
  padding: 0 8px;
  margin-left: 5px;
}

.commentBox {
  width: 500px;
  height: 100px;
}

.visibleCommentHeader {
  /*margin: 0px 0px 0px 20px;*/
  color: black;
}

.hiddenCommentHeader{
  /*margin: 0px 0px 0px 20px;*/
  color: green;
}

.visibleCommentBody{
  margin: 0px 0px 0px 20px;
  display: block;
}

.hiddenCommentBody {
  margin: 0px 0px 0px 20px;
  display: none;
};

