body {
  font-size: 16px;
  font-weight: normal;
  font-family: verdanda;
}

a {
  text-decoration: none;
}

blockquote {
  border-left: 2px solid #c5c1ad;
  padding: 0 8px;
  margin-left: 5px;
}

.commentBox {
  width: 500px;
  height: 100px;
}

.visibleCommentHeader {
  /*margin: 0px 0px 0px 20px;*/
  color: black;
}

.hiddenCommentHeader{
  /*margin: 0px 0px 0px 20px;*/
  color: green;
}

.visibleCommentBody{
  margin: 0px 0px 0px 20px;
  display: block;
}

.hiddenCommentBody {
  margin: 0px 0px 0px 20px;
  display: none;
};

.UserView-title {
  font-size: 24px;
  padding: 0 24px;
}

.UserView-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f0f0f0;
}

.UserItem {
  margin: 0;
  padding: 8px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.UserItem-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.UserItem-email {
  font-size: 14px;
  margin-top: 4px;
  font-style: italic;
  color: #888;
}
.UserItem-description {
  font-size: 14px;
  margin-top: 4px;
}

/*change1*/
.UserForm {
  float: right;
  padding: 8px 24px;
}
.UserForm > input,
.UserForm > textarea {
  display: block;
  width: 240px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
}

.OrderLinks {
  min-width: 1100px;
}

.UserForm > input.UserForm-error {
  border-color: #b30e2f;
}

.Entry {
  display: flex;
  align-items: flex-start;
}


